body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
	/* font-family: 'DB Helvethaica X' !important; */

	font-family: 'Titillium Web', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Saira Extra Condensed', sans-serif !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* @font-face {
	font-family: 'DB Helvethaica X';
	font-style: normal;
	font-weight: 700;
	src: url('./fonts/DB Helvethaica X/DB Helvethaica X Ext v3.2.ttf');
} */
